<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head th:fragment="head_fragment">
		
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
	  	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	  
	  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
	
	</head>
	
	<body>
		<div th:fragment="user_logout_btns">
			<p>Logged user: <span sec:authentication="name"></span></p>
			<p>User roles: <span sec:authentication="principal.authorities"></span></p>
			
			<div class="row">
			
				<a href="#" th:href="@{/}" class="btn btn-primary mr-2">Home</a> 
				
				<form action="#" th:action="@{/logout}" method=post>
					<input type="submit" class="btn btn-outline-primary" value="Logout" onclick="if (!(confirm('Logout current user?'))) return false" >	
				</form>

			</div>
		</div>
	</body>

</html>