<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		lang="en">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</head>
	
	<body>
		<div class="container pt-3">
			<p th:text="'OH YEAAAHHHH'" />
			<p>Welcome Aliens!</p>
			<p sec:authorize="isAuthenticated()" th:text="'Oh yeah! This is only for authenticated users!'" />
			<div sec:authorize="isAuthenticated()">
			  This content is only shown to authenticated users.
			</div>
			
		</div>
	</body>
</html>